{% spaceless %}

{% if collection %}

<div>
  <h3>Siguiendo</h3>
  <ul>

    {% for entity in collection %}
      <li>
        <a href="#"><span class="tag">{{ entity }}</span></a>
      </li>
    {% endfor %}

    <li>
      {% if( is_granted('ROLE_USER') and app.user.id == owner.id) %}
        <a href="{{ path('relation_my_list') }}"><span class="tag">ver mas</span></a>
      {% else %}
        <a href="{{ path('relation_list', {'id' : owner.id }) }}"><span class="tag">ver mas</span></a>      
      {% endif %}
    </li>

  </ul>

</div>

{% endif %}

{% endspaceless %}
