{% spaceless %}
  {% for entity in collection %}
    <li>
      <h5>{{ entity }}</h5>

      {% block buttons %}
        {% if( is_granted('ROLE_USER') and app.user.id != entity.id ) %}
          {{ render(controller('RelationBundle:Relation:buttons', {'id' : entity.id })) }}
        {% endif %}
      {% endblock %}
    </li>
  {% endfor %}
{% endspaceless %}
